/* VARIABLES */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-bg: #FCF1E6;
    --color-white: #ffffff;
    --color-blue: #11162D;
    --color-orange: #EC4E1F;
    --color-yellow: #F8D548;
    --color-green: #509C46;
    --color-purple: #977DFF;
}

@font-face {
    font-family: whyte-thin;
    src: url(/assets/fonts/WhyteInktrap-Thin.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: whyte-light;
    src: url(/assets/fonts/WhyteInktrap-Light.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: whyte-medium;
    src: url(/assets/fonts/WhyteInktrap-Medium.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: whyte-regular;
    src: url(/assets/fonts/WhyteInktrap-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: whyte-bold;
    src: url(/assets/fonts/WhyteInktrap-Bold.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: whytei-light-italic;
    src: url(/assets/fonts/WhyteInktrap-LightItalic.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: whyte-medium-italic;
    src: url(/assets/fonts/WhyteInktrap-MediumItalic.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: pptelegraf-regular;
    src: url(/assets/fonts/pptelegraf-regular.otf) format('opentype');
    font-weight: 300;
}
/* END OF VARIABLES */

body {
    background-color: var(--color-bg);
}

/* ======= PRELOADING ======= */
  #loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    overflow: visible;
    background: var(--color-bg) url('/assets/video/logo-codecademy.gif') no-repeat center center;
    background-size: 55vw;
}
/* ======= END PRELOADING ======= */